	
	/* Full Screen Slider  */
		
	.tg-slider, .tg-slider-project {
		margin:0!important;
	}
	
	.tg-slider-project {
		overflow:hidden;
	}
	
	.tg-slider .slides > li, .tg-slider-project .slides > li {
		display: none; 
		-webkit-backface-visibility: hidden;
	}
		
	.tg-slider, .tg-slider .flex-viewport, .tg-slider-project, .tg-slider-project .flex-viewport	 {
		width:100%;
		height:100%!important; 
		margin:0;
		padding:0; 
	}
		
	.tg-slider .slides, .tg-slider-project .slides {
		height:100%!important;
		transition-delay: 1s;
        -webkit-transition-delay: 1s;
		-moz-transition-delay: 1s;
	}
	
	.tg-slider .flex-direction-nav a, .tg-slider-project .flex-direction-nav a  { 
		display: block; 
		width: 50%; 
		height: 100%; 
		margin:0; 
		position: absolute; 
		top: 0; 
		z-index: 10; 
		overflow: hidden; 
		opacity: 0; 
		cursor: pointer; 
		color: rgba(0,0,0,0.8); 
		text-shadow: 1px 1px 0 rgba(255,255,255,0.3); 
		-webkit-transition: all .3s ease; 
		-moz-transition: all .3s ease; 
		transition: all .3s ease; 
		background-color:#000;		
	}
	
	.tg-slider .flex-direction-nav .flex-prev, .tg-slider-project .flex-direction-nav .flex-prev { 
		opacity:0;
		left:0;
		cursor: url(../images/slider_left.png), e-resize;
	}
	
	.tg-slider .flex-direction-nav .flex-next, .tg-slider-project .flex-direction-nav .flex-next {
		opacity:0;
		right:0;
		cursor: url(../images/slider_right.png), e-resize;
	}
				
	.tg-slider .slides li, .tg-slider-project .slides li {
		width:100%;
		height:100%!important; 
		margin:0;
		padding:0;	
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position:center center;
		background-repeat:no-repeat;
	}	
	
	.tg-slider-project .slides li.vertical-image {
		-webkit-background-size:contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size:contain;
		background-position:center center;
	}
	
	.tg-slider .overlay, .tg-slider-project .overlay {
		height:100%;
		widows:100%;
	}
	
	
	/* Full Screen Slider & Hero Captions */	
	
	.tg-caption {
		display: table;
		height: 100%;
		position: relative;
		width:1280px;
		margin:0 auto;		
	}	
	
	.caption-content {
		display: table-cell;
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
		padding:140px 0 60px;
	}
	
	.caption-content.center-center {
		text-align:center;
		vertical-align:middle;
	}
	
	.caption-content.center-center .title-has-line:after {
		background: none repeat scroll 0 0 #ddd;
		bottom: -20px;
		content: "";
		height: 1px;
		left: 50%;
		margin-left: -20px;
		position: absolute;
		width: 40px;
	}
	
	.caption-content.center-left {
		text-align:left;
		vertical-align:middle;
	}
	
	.caption-content.center-right {
		text-align:right;
		vertical-align:middle;
	}
	
	.caption-content.bottom-center {
		text-align:center;
		vertical-align:bottom;
	}
	
	.caption-content.bottom-center .title-has-line:after {
		background: none repeat scroll 0 0 #ddd;
		bottom: -20px;
		content: "";
		height: 1px;
		left: 50%;
		margin-left: -20px;
		position: absolute;
		width: 40px;
	}
	
	.caption-content.bottom-left {
		text-align:left;
		vertical-align:bottom;
	}
	
	.caption-content.bottom-right {
		text-align:right;
		vertical-align:bottom;
	}
	
	.caption-content.top-center {
		text-align:center;
		vertical-align:top;
	}
	
	.caption-content.top-center .title-has-line:after {
		background: none repeat scroll 0 0 #ddd;
		bottom: -20px;
		content: "";
		height: 1px;
		left: 50%;
		margin-left: -20px;
		position: absolute;
		width: 40px;
	}
	
	.caption-content.top-left {
		text-align:left;
		vertical-align:top;
	}
	
	.caption-content.top-right {
		text-align:right;
		vertical-align:top;
	}
	
	
	/* Full Screen Project Slider Captions */	
	
	.tg-slider-project .tg-caption {
		width:100%;
		background-color:#fff;	
		bottom:-200px;
		position:absolute;
		z-index:15;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	.tg-slider-project .tg-caption.info-hide {
		bottom:0px;
	}
	
	.tg-slider-project .caption-content {
		padding:30px 0 10px 0;
		width:1280px;
		margin:0 auto;
	}
	
	.classic-slider {
		display:block;
		position:relative;
		width:100%;
	}
	
	
	
	
@media only screen and (max-width: 1466px) {
	
	.tg-caption {
		width:940px;	
	}

}


@media only screen and (max-width: 1024px) {
	
	.tg-caption {
		width:600px;	
	}	
	
}


@media only screen and (max-width: 767px) {
	
	.tg-caption {
		width:400px;	
	}
	
}


@media only screen and (max-width: 479px) {
	
	.tg-caption {
		width:240px;	
	}
		
}









/* Twitter Slider */
	
	.twitter-icon i{
		color:#34d5cb;
		font-size:48px;
	}
	
	.twitter-slider {
		padding: 40px 0 0px !important;
		margin-bottom:30px!important;
	}
	
	.twitter-slider li {
		font-size:24px;
		color:#000;
		line-height:36px;
		font-weight: 700;
		font-family: 'Open Sans', sans-serif;
	}
	
	.twitter-slider li a {
		color:#000;
	}
	
	.twitter-slider li a:hover {
		color:#34d5cb;
	}
	
	.twitter-name {
		margin-bottom:40px;
	}
	
	.twitter-name a {
		color:#999;
	}
	
	.twitter-nav {
		bottom: 10px;
		float: left;
		height: 40px;
		margin-left: -3px;
	}
	
	.twitter-nav ol li {
		margin:0px 6px;
	}
	
	.twitter-nav .flex-control-nav {
		position:relative;
		bottom: -15px;
	}			