body {
	  background-color: black;
}
html {
  margin: 0;
  background-size: cover;
  background: url("http://www.tobygrubb.com/test/images/projects/TobyGrubb_DCB75003.jpg") no-repeat center center fixed;
  transition: 1s;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body,td,th {
	font-family: 'Calibre', sans-serif;
  	font-size: 36px;
  	font-weight: 200;
  	letter-spacing: 0.08em;
  	line-height: 2.4em;
	color: rgba(255, 255, 255, .8);
}

a {
	text-decoration: none;
	color: #fff;
    display: inline-block;
    line-height: 1.2em;
    font-family: 'Garamond Italic', serif;
    font-weight:100;
}

.link:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    border-bottom: 2px solid transparent;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;

}

.link:hover:after{;
	cursor:pointer;
	border-bottom: 2px solid #fff;
    width: 100%;
}

.the-icons {
  cursor:pointer;
  font-size: 32px;
  line-height: 24px;
  	position: absolute;
    z-index: 1000;
}

.the-icons:hover {;
	cursor:pointer;
	color: #000;

}

/* for 1920 or less */
@media screen and (max-width:1920px) {
	body {font-size: 28px;}
}

/* for 1500 or less */
@media screen and (max-width:1500px) {
	body {font-size: 24px;}
}

/* for 1240 or less */
@media screen and (max-width:1240px) {
	body {font-size: 22px;}
  	font-weight: 300;
}

/* for 1080 or less */
@media screen and (max-width:1080px) {
	body {font-size: 18px;}
		.the-icons {
		font-size: 24px;
		line-height: 24px;
  	}
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.container {
  margin-right: auto;
  margin-left: 0;
  padding: 0 0 0 10%;
}

.container:before,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}
.container:after {
  clear: both;
}

p {
  margin: 0 0 10px;
  padding: 5% 40% 0 10%;
}

/* for 1080 or less */
@media screen and (max-width:800px) {
  p{
	  padding: 60px 8% 0 8%;
	  margin: 0 0 10px;
	}
}
