body,
html {
  height: 100%;
	width: 100%;
  margin: 0;
  padding: 0;
	background-color: #000;
}

body {
	font-family: 'Calibre-Light', sans-serif;
  font-size: 1.4em;
  font-weight: 200;
	letter-spacing: 0.08em;
	line-height: 2.4em;
	color: rgba(255, 255, 255, .8);
}

a {
	text-decoration: none;
	color: #fff;
  font-family: 'TiemposText-Regular', serif;
	font-size: 1em;
  font-weight:100;
	line-height: 1.2em;
	display: inline-block;
}

p {
	margin: 0;
	padding: 10% 15%;
}

.wrapper {
  display: inline-block;
  height: 100vh;
  width: 50vw;
  padding: 0;
  margin: 0;
  background: #000;
}

.wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.small {
		font-family: 'Calibre-LightItalic', sans-serif;
  	font-size: .9em;
		line-height: 1.8em;
}

.link:after {
    content: '';
    display: block;
    height: .25em;
    width: 0;
		transition: width .5s ease;
		border-bottom: .05em solid #fff;
}

.link:hover:after {
  width: 100%;
	transition: width .5s ease;
}

.the-icons {
  cursor:pointer;
  font-size: 32px;
  line-height: 24px;
  	position: absolute;
    z-index: 1000;
}

.the-icons:hover {;
	cursor:pointer;
	color: #000;

}

.split-screen {
  display: flex;
  min-height: 100vh;
}
.split-screen__left,
.split-screen__right {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.split-screen__right {
  background-color: #000;
}

/* for 1080 or less */
@media screen and (max-width:1080px) {
	body {font-size: 18px;}
		.the-icons {
		font-size: 24px;
		line-height: 24px;
  	}
  }

  html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  .container {
    margin-right: auto;
    margin-left: 0;
    padding: 0;
  }

  .container:before,
  .container:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .container:after {
    clear: both;
  }

}

/* for 800 or less */
@media screen and (max-width:800px) {
	.split-screen {
	  display: flex;
	  min-height: 50vh;
		min-width: 100vw
	}
	.split-screen__left,
	.split-screen__right {
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  align-items: center;
	  flex: 2;
	}
}
