body,
html {
  height: 100%;
	width: 100%;
  margin: 0;
  padding: 0;
	background-color: #000;
}

body {
	font-family: 'Calibre-Light', sans-serif;
  font-size: 1.4em;
  font-weight: 200;
	letter-spacing: 0.08em;
	line-height: 2.4em;
	color: rgba(255, 255, 255, .8);
}

a {
	text-decoration: none;
	color: #fff;
  font-family: 'Calibre-Regular', sans-serif;
  /*'TiemposText-LightItalic', serif;*/
	font-size: 1em;
  font-weight:100;
	line-height: 1.2em;
	display: inline-block;
}

p {
	padding: 10% 15%;
}

.split-screen__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.small {
		font-family: 'Calibre-Light', sans-serif;
  	font-size: .8em;
		line-height: 1.8em;
    display: inline-block;
}

.arrow:hover {
}

.link:after {
    content: '';
    display: block;
    height: .25em;
    width: 0;
		transition: width .5s ease;
		border-bottom: .05em solid #fff;
}

.link:hover:after {
  width: 100%;
	transition: width .5s ease;
}

.split-screen {
  display: flex;
  min-height: 100vh;
}

/* Google: BEM (Block, element, modifier) */
.split-screen__left {
	overflow: hidden;
}

.split-screen__left,
.split-screen__right {
	flex-basis: 50%;
}
.split-screen__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* for 1080 or less */
@media screen and (max-width:1080px) {
	body {font-size: 18px;}
}


/* for 800 or less */
@media screen and (max-width:800px) {
	.split-screen {
		display: block;
	}
	.split-screen__left{
		height:50vh;
	}
}
